# Created by .ignore support plugin (hsz.mobi)
.gradle/4.10.1/vcsMetadata-1/
.idea/vcs.xml
libs/
/.idea/
/app/build/
/app/app.iml
/local.properties
/gradle.properties
/gradlew
/gradlew.bat
/VerificationCode.iml
/.gradle/
/VerificationCodeView.iml
